<h1>New Image</h1>

<%= form_for :image, url: images_path, local: true, class: 'image-form' do |form| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@image.errors.count, "error") %> prohibited
        this image url from being saved:
      </h2>
      <ul>
        <% @image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :image_label, 'Image URL' %><br>
    <%= form.text_area :image_url %><br>
    <%= form.label :tag_list, 'Image Tags (separated by commas)' %><br>
    <%= form.text_field :tag_list %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
